target/test-classes
target/archive-tmp
target/classes
target/generated-sources
target/generated-test-sources
target/maven-archiver
target/maven-status
target/surefire-reports
build
test-output
gen

#Temp Files
*~
